Atom
Mousepad
Thunar
autostart
bspwm
cherrytree
dconf
enchant
fontforge
gedit
google-chrome
gtk-3.0
mimeapps.list
neofetch
powershell
pulse
qt5ct
qterminal.org
sxhkd
user-dirs.dirs
user-dirs.locale
xfce4
